{% extends 'bootstrap-layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!-- Navbar -->
    {{ include('partials/_navbar.html.twig') }}

    <div class="container pt-3 border">
        <div class="row">
            <div class="container">
                <h1>All Todo</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'todo.id' }}</th>
                            <th>{{ 'todo.title' }}</th>
                            <th>{{ 'todo.description' }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for todo in todos %}
                            <tr>
                                <td>{{ todo.id }}</td>
                                <td>
                                    {% if module.isStandAlone %}
                                        <a href="/todos/{{ todo.id }}">{{ todo.title }}</a>
                                    {% else %}
                                        <a href="/interface/modules/custom_modules/oe-module-todo-list/todos/{{ todo.id }}">{{ todo.title }}</a>
                                    {% endif %}

                                    </td>
                                <td>{{ todo.description }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="27">{{ 'common.no_record_found' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex flex-column">
                    side menu (todo...)
                </div>
            </div>
        </div>
    </div>
{% endblock %}
