<footer class="footer my-5">
    <div class="container col-6 justify-content-center">
        <span class="text-muted">{{ module.name }} {{ module.version }} made with <i class="bi bi-heart-fill text-danger"></i> by <a href="{{ module.vendor_url }}" target="_blank">{{ module.vendor_name }}</a> | <a href="{{ module.source_code }}" target="_blank">source</a></span>
    </div>
</footer>
