<nav class="navbar navbar-expand navbar-light bg-white static-top">

    <a class="navbar-brand mr-1" href="{#{{ path('module_dashboard') }}#}">{{ 'menu.module_name' }}</a>

    <button class="btn btn-link btn-sm order-1 order-sm-0 text-dark" id="sidebarToggle">
        <i class="fas fa-bars"></i>
    </button>

    <div class="hidden-sm" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{#{{ path('property') }}#}">{{ 'menu.dashboard' }}</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ 'menu.filter' }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{#{{ path('todo_list_open') }}#}">{{ 'menu.filter.open' }}</a>
                    <a class="dropdown-item" href="{#{{ path('todo_list_closed') }}#}">{{ 'menu.filter.closed' }}</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></div>

    <ul class="navbar-nav ml-auto ml-md-0">

        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="addDropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <i class="fas fa-plus-square text-danger"></i>
                <span class="hidden-sm">{{ 'menu.add_new' }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="addDropdown">

                <a class="dropdown-item" href="{#{{ path('todo_new') }}#}">{{ 'menu.add_new.todo' }}</a>
                {#<a class="dropdown-item" href="#}{#{{ path('label_new') }}#}{#">{{ 'menu.add_new.label' }}</a>#}
            </div>
        </li>

        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle"
               href="#" id="settingDropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                {{ 'menu.settings' }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="settingDropdown">
                <a class="dropdown-item" href="{#{{ path('app_account_me') }}#}">
                    {{ 'menu.settings.global_preference' }}
                </a>
                <div class="dropdown-divider"></div>
                {#<a class="dropdown-item" href="{{ path('app_logout') }}">#}
                {{ 'menu.settings.user_preference' }}
                </a>
            </div>
        </li>
    </ul>

</nav>
